/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* influencer product----start */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@0,400;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;



}

.product {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-content: space-between;
    column-gap: 382px;





}

.nav p {

    display: inline-flex;
    margin: 5px;
    margin-top: 33px;

}

.tag h2 {
    font-size: 24px;
}

/* influencer product----end */

/* become a influencer start */

.influencer-journey {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    column-gap: 126px;

}

.main-cam {
    padding-top: 20px;
    background-image: url(images/Circle\ design.svg);
    height: 360px;
    background-size: 402px;
    background-repeat: no-repeat;

}

.influencer-tags a,
.join {
    text-decoration: none;
    border: 5px solid #E02C6D;
    background-color: #E02C6D;
    color: aliceblue;
    border-radius: 15px;
    Font-size: 16px;
    Line-height: 24px;
}

.influencer-tags h1 {
    font-size: 52px;
    Weight: 700;
    Line-height: 70px;

}




/* become a influencer end */

/* companies start */

.company {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 2px;
    width: 1110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    padding: 120px;
}



/* companies start */

/* popular collection  start*/
.fa-star,
.fa-star-half-stroke {
    color: #FB8200;
}

.gray {
    color: #787885;
}

.popular-collection {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 1164px;
    Height: 1662px;
    margin-left: 90px;
    column-gap: 43px;


}

.items {
    box-shadow: 0px 0px 60px 10px grey;
    padding-left: 5%;
    padding-top: 5%;
    width: 90%;
    margin-right: 9%;
    border-radius: 5px;
    background-color: white;

}

/* popular collection  end*/

/* last one start  */
.last {
    display: flex;
    height: 270px;
    width: 1186px;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-left: 81px;


}


/* last one end  */

@media only screen and (max-width:450px) {
    .influencer-journey {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .product {
        display: flex;
        justify-content: space-around;
        font-family: 'Poppins', sans-serif;
        column-gap: 48px;
        flex-wrap: wrap;
        align-content: center;
    }

    .influencer-tags h1 {
        font-size: 52px;
        Line-height: 70px;
        margin-left: 47px;



    }

    .lorem {
        margin-left: 51px;
    }

    .influencer-tags a {
        text-decoration: none;
        border: 5px solid #E02C6D;
        background-color: #E02C6D;
        color: aliceblue;
        border-radius: 15px;
        Font-size: 16px;
        Line-height: 24px;
        margin-left: 46px;

    }

    .company {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 29px;
        width: 1110px;
        height: 117px;
        padding: 138px;
        align-content: center;
        margin-bottom: 98px;
    }

    .popular-collection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: stretch;
        width: 958px;
        Height: 1678px;
        margin-left: -3px;
        column-gap: 60px;
    }

    .last {
        display: flex;
        height: 278px;
        width: 938px;
        justify-content: center;
        margin-top: 2978px;
        ;
        margin-left: -264px;
        flex-direction: column;
        align-content: center;
        align-items: center;

    }

    .last-text {


        font-size: 20px;
        margin-left: 10px;
    }

    .join {
        margin-left: 4px;
    }

    .gray {
        text-align: center;
        font-size: 11px;
        margin-right: 26px;
        margin-bottom: 16px;
    }
}